*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-image: linear-gradient(red, yellow);

}
header{
    background-color: rgb(36, 14, 38);    
    display: flex;
    align-items: center;
    padding: 10px 0;
    padding: 30px;
   
    
}
header ul {
   list-style-type: none;
   display: flex;
   padding: 0px;
   margin: 0px;
  
}
#logo{
    margin: 0 auto;
    font-size: 25px;
}
a{
    text-decoration: none;
}
a:hover{
    font-size: 30px;
    cursor: pointer;
    color: rgb(58, 58, 70);
   border: 4px solid rgb(237, 227, 235);
   /* border-radius: 1px; */
}
#menu li{
    padding: 10px;  
}
#social-links li{
    display: flex;
    padding: 5px;
}
header a{
    color: aliceblue;
}
#main{
    display: flex;
}
aside{
    flex: 0 0 20vw;
    /* background-color: rgb(228, 172, 194); */
    background-image: linear-gradient(red, yellow, green);
    
}
.services-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.services-box{
    border: 2px solid rgb(16, 16, 16);
}
.service-img img{
    height: 100px;
    width: 100px;
    flex-basis: 32%;
  /* border: 2px solid rgb(35, 30, 30); */
  border-radius:15px;
  
}


footer nav   {
    /* background-color: rgb(240, 95, 220); */
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    padding: 20px;   
    text-align: center;
 /* justify-content: space-between; */
 /* margin: 10px;    */


   
}
.foot{
    justify-content: space-between;
    margin: 10px;   
}